<!DOCTYPE html>
<html>

<head>
    <style>
      .parent {
        position: relative;
        top: 0;
        left: 0;
      }

      .campo {
        position: relative;
        top: 0;
        left: 0;
        border: 1px whitesmoke;
      }

      .manga {
        position: absolute;
        top: 200px;
        left: 410px;
        width: 25px;
        border: 1px whitesmoke;

      }

      .rosaviento {
        position: fixed;
        top: 170px;
        left: 450px;
        width: 150px;
        border: 1px whitesmoke;

      }

      #salida th,
      #salida td {
        border: 1px solid blueviolet;
        border-radius: 10px;
      }
    </style>
</head>

<body>
  </div>

  <div class="container">

    <h2>Meteorología en
      <% if (results[0]) %>
        <%= results[0].campo %>
    </h2>

    <div class="parent">
      <div id="salida">
        <table style="color:blue; text-align:center; font-size:20px; width:80%">
          <tr>
            <td>
              <%= results[0].f %>
            </td>
            <td>
              <%= results[0].t %> ºC
            </td>
            <td>
              <%= results[0].d1 %>
            </td>
          </tr>
          <tr>
            <td>
              <%= results[0].a %> km/h (Promedio)
            </td>
            <td>
              <%= results[0].v %> km/h (Instante)
            </td>
            <td>
              <%= results[0].h %> km/h (Max)
            </td>
          </tr>
        </table>
      </div>
      <br>
      <img src="https://aterriza.org/wp-content/uploads/aerodromo-lanzahita-900x280.jpg" class="campo" alt="Sin imagen aerodromo">
      <img src="/vientos/rosaviento.png" class="rosaviento" data-rotate="90" alt="Rosa de vientos">
      <img src="/vientos/mangaviento.png" class="manga" data-rotate="90" alt="Manga de viento">
      <script>
        $('.manga').each(function () {
          var deg = $(this).data('rotate') || 0;
          //$(this).data('rotate')
          var rotate = 'rotate(' +
            ( <%= results[0].angulo %> +  <%= results[0].d %>) * 22.5 + 'deg)';
        console.log(rotate);
        $(this).css({
          '-webkit-transform': rotate,
          '-moz-transform': rotate,
          '-o-transform': rotate,
          '-ms-transform': rotate,
          'transform': rotate
        });
        });

        $('.rosaviento').each(function () {
          var deg = $(this).data('rotate') || 0;
          //$(this).data('rotate')
          var rotate = 'rotate(' + 
          <%= results[0].angulo %> * 22.5 + 'deg)';
          console.log(rotate);
          $(this).css({
            '-webkit-transform': rotate,
            '-moz-transform': rotate,
            '-o-transform': rotate,
            '-ms-transform': rotate,
            'transform': rotate
          });
        });
      </script>

      <!---  
        f - date
        v - instantAirSpeed
        a - averageSpeed
        h - maxSpeed
        d - windDir
        t - temp
      -->
      <table style="width:80%">
        <tr>
          <th>Fecha</th>
          <th>Viento</th>
          <th>Promedio</th>
          <th>Max</th>
          <th>Dir</th>
          <th>Temp</th>
        </tr>
        <% results.forEach(function(r) { %>
          <tr>
            <td>
              <%= r.f %>
            </td>
            <td>
              <%= r.v %>
            </td>
            <td>
              <%= r.a %>
            </td>
            <td>
              <%= r.h %>
            </td>
            <td>
              <%= r.d1 %>
            </td>
            <td>
              <%= r.t %>
            </td>
          </tr>
          <% }); %>
      </table>
    </div>
</body>

</html>