<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

<%- include ("../partials/nav.ejs") %>

<div class="container">
<h2>Databasedddd Results</h2>
temp  dir  velo  max  fecha<br>
<ul>
    <% results.forEach(function(r) { %>
        <li><%= r.temp %> - <%= r.dirviento %> - <%= r.veloviento %> - <%= r.maxviento %> - <%= r.fecha %></li>
    <% }); %>
</ul>

</div>

</body>
</html>
