<!DOCTYPE html>
<html>

<head>
  <%- include ("../partials/header.ejs") %>
    <style>
      .parent {
        position: relative;
        top: 0;
        left: 0;
      }

      .image1 {
        position: relative;
        top: 0;
        left: 0;
        border: 1px whitesmoke;
      }

      .image22 {
        position: absolute;
        top: 70px;
        left: 200px;
        width: 50px;
        border: 1px whitesmoke;

        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }

      .image2 {
        position: absolute;
        top: 70px;
        left: 200px;
        width: 50px;
        border: 1px whitesmoke;

      }
    </style>
</head>

<body>

  <%- include ("../partials/nav.ejs") %>
    <div class="container">

      <h2>Meteorología en <span id="Campo">

          <% if (results[0]) %>
            <%= results[0].campo %>
        </span></h2>

      <div class="parent">
        <img src="https://aterriza.org/wp-content/uploads/aerodromo-lanzahita-900x280.jpg" class="image1"
          alt="Sin imagen aerodromo">
        <img src="https://www.darrera.com/wp/wp-content/uploads/2018/04/3r-wsck-manga-viento.jpg" class="image2"
          data-rotate="90" alt="Manga de viento">
      </div>

      <script>
        $('.image2').each(function () {
          var deg = $(this).data('rotate') || 0;
          //$(this).data('rotate')
          var rotate = 'rotate(' + 
          <%= results[0].angulo %> * 22.5 + 'deg)';
          console.log(rotate);
          $(this).css({
            '-webkit-transform': rotate,
            '-moz-transform': rotate,
            '-o-transform': rotate,
            '-ms-transform': rotate,
            'transform': rotate
          });
        });
      </script>

      <!---  
        f - date
        v - instantAirSpeed
        a - averageSpeed
        h - maxSpeed
        d - windDir
        t - temp
      -->
      <table style="width:100%">
        <tr>
          <th>Fecha</th>
          <th>Viento</th>
          <th>Promedio</th>
          <th>Max</th>
          <th>Dir</th>
          <th>Temp</th>
        </tr>
        <% results.forEach(function(r) { %>
          <tr>
            <td>
              <%= r.f %>
            </td>
            <td>
              <%= r.v %>
            </td>
            <td>
              <%= r.a %>
            </td>
            <td>
              <%= r.h %>
            </td>
            <td>
              <%= r.d %>
            </td>
            <td>
              <%= r.t %>
            </td>
          </tr>
          <% }); %>
      </table>
    </div>
</body>

</html>